<table class="table table-condensed table-bordered" id="offer_item_wrapper_<%= offer_item.id %>" >
  <tr id="offer_item_<%= offer_item.id %>">
    <td style="width: 65px; text-align: center;"><span class="position"><%= offer_item.position %></span></td>
    <td style="width: 375px;"><%= offer_item.title %></td>
    <td style="width: 75px; text-align: right;"><%= number_to_currency(offer_item.net, :unit => "€") %></td>
    <td style="width: 75px; text-align: right;"><%= number_to_currency(offer_item.vat, :unit => "€") %></td>
    <td style="width: 50px; text-align: right;"><%= number_to_percentage(offer_item.vatrate, :unit => "%", :precision => 2) %></td>
    <td style="width: 50px; text-align: right;"><%= number_to_currency(offer_item.gross, :unit => "€") %></td>
    <td style="width: 50px;"><%= link_to icon("edit"), edit_offer_offer_item_path(offer_item.offer, offer_item),  :remote => true, :class => "btn btn-danger btn-small" %></td>
    <td style="width: 50px;"><%= link_to icon("destroy"), [offer_item.offer, offer_item], method: :delete, data: { confirm: 'Are you sure to delete this offer item?' }, :class => "btn btn-danger btn-small", :remote => true %></td>
    <td style="width: 50px; text-align: center;"><%= icon("handle") %></td>
  </tr>
  <% if offer_item.description %>
  <tr id="offer_item_l<%= offer_item.id %>" class="active">
    <td></td>
    <td colspan="7"><%= offer_item.description %></td>
    <td></td>
  </tr>
  <% end %>
  <tr id="offer_item_e<%= offer_item.id %>" style="display: none;">
    <td colspan="9" class="edit_container"></td>
  </tr>
</table>