<h1>
  Offers
  <%= link_to icon("new"), new_offer_path(@offer), :class => "btn btn-default btn-sm" %> 
  <div class="toolbox">
    <%= render 'searchform' %>
  </div>
</h1>

<p id="notice"><%= notice %></p>

<% unless params[:drafts] %>
<%= 
  will_paginate @offers, 
  renderer: BootstrapPagination::Rails, 
  bootstrap: 3,
  :param_name => :offers_page 
%>
<ul class="nav nav-tabs">
  <li class="active"><%= link_to "Offers", offers_path %></li>
  <li><%= link_to 'Drafts', offers_path(:drafts => 1) %></li>
</ul>
<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th><%= sortable "offer_number" %></th>
      <th><%= sortable "company" %></th>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
  <% @offers.each do |offer| %>
    <tr class="<%= is_draft(offer) %>">
      <td>
        <%= offer.offer_number %>
        <%= offer.draft ? raw('<span class="label label-info">Draft</span>') : '' %>
      </td>
      <td><%= offer.company %></td>
      <td><%= offer.title %></td>
      <td style="text-align: right;">
      <%= link_to icon("show"), offer, :class => "btn btn-default btn-small" %>
      <%= link_to icon("edit"), edit_offer_path(offer), :class => "btn btn-default btn-small" %>
      <%= link_to icon("destroy"), offer, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-small" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>


<% else %>

<%= 
  will_paginate @drafts, 
  renderer: BootstrapPagination::Rails, 
  bootstrap: 3,
  :param_name => :drafts_page 
%>
<ul class="nav nav-tabs">
  <li><%= link_to "Offers", offers_path %></li>
  <li class="active"><%= link_to 'Drafts', offers_path(:drafts => 1) %></li>
</ul>
<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th><%= sortable "offer_number" %></th>
      <th><%= sortable "company" %></th>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
  <% @drafts.each do |draft| %> 
    <tr>
      <td>
        <%= draft.offer_number %>
        <%= draft.draft ? raw('<span class="label label-info">Draft</span>') : '' %>
      </td>
      <td><%= draft.company %></td>
      <td><%= draft.title %></td>
      <td style="text-align: right;">
        <%= link_to icon("show"), draft, :class => "btn btn-default btn-small" %>
        <%= link_to icon("edit"), edit_offer_path(draft), :class => "btn btn-default btn-small" %>
        <%= link_to icon("destroy"), draft, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-small" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>