<p id="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @offer.company %>

  <b>Offer Number:</b>
  <%= @offer.offer_number %>
  <b>Title:</b>
  <%= @offer.title %>
  <b>Projectname:</b>
  <%= @offer.project_name %>
  <b>Offer Date:</b>
  <%= @offer.offer_date %>
  <b>Offer Due Date:</b>
  <%= @offer.offer_due_date %>
  <b>Description:</b>
  <%= @offer.text %>
</p>


<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
