<p id="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @offer.company %>

  <b>Offer Number:</b>
  <%= @offer.offer_number %>
</p>


<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
