<% content_for :title, @offer.offer_number.to_s + " " + @offer.title.to_s %>

<% content_for :header do %>
<h3>
  <%= link_to icon("back"), offers_path, :class => "btn btn-default" %>
  <%= link_to icon("list"), offers_path, :class => "btn btn-default" %>
  Offer 
  <%= link_to icon("edit"), edit_offer_path(@offer), :class => "btn btn-default" %>
  <div class="pull-right">
      <%= render 'offers/searchform' %>
  </div>
  <div class="pull-right">
    <% if @offer.draft %>
    <%= link_to "ACTIVATE", activate_offer_path(@offer), :class => "btn btn-danger", :style => "margin-right: 0.5em;" %>
    <% else %>
    <span class="label label-info">Activated</span>
    <% end %>
  </div>
</h3>  
<% end %>

<% if @offer_item.errors.any? %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@offer_item.errors.count, "error") %> prohibited this offer from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @offer_item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>


<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><%= @offer.offer_number %> | <%= @offer.title %> | <%= link_to "download json object", polymorphic_path( @offer, :format => :json ), :target => "_blank" %> | <%= @offer.draft ? "Draft" : "Activated" %>
  </div>
    
  <table class="table">
    <tbody>
      <tr>
        <th>Company</th>
        <td><%= best_in_place @offer, :company %></td>
      </tr>
      <tr>
        <th>Projectname</th>
        <td><%= @offer.project_name %></td>
      </tr>
      <tr>
        <th>PreText</th>
        <td><%= @offer.text %></td>
      </tr>
    </tbody>
  </table>
  
  <% if @offer.offer_items.present? %>
  <div class="panel-heading" style="text-align: center;">Offeritems</div>
  <table class="table ">
    <thead>
      <th>Pos</th>
      <th>Title</th>
      <th>Description</th>
      <th>Net</th>
      <th>Vat</th>
      <th>Rate</th>
      <th>Gross</th>
      <th></th>
      <th></th>
    </thead>
    <tbody id="offer_item_tbody">
      <% @offer.offer_items.order("position  asc").each do |offer_item| %>
        <%= render offer_item %>
      <% end %>
    </tbody>
  </table>
  <% end %>
  <div class="panel-heading">
    <%= render 'offer_items/offer_item_form' %>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" style="text-align: center;">Credentials</div>
  <table class="table">
    <thead>
      <th>Offer created at</th>
      <th>Offer Date</th>
      <th>Due Date</th>
    </thead>
    <tbody>
      <tr>
        <td><%= @offer.created_at.to_formatted_s() %></td>
        <td><%= @offer.offer_date %></td>
        <td><%= @offer.offer_due_date %></td>
      </tr>
    </tbody>
  </table>
</div>